<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feedback">
            <h2><span>Feedback</span> {{ feedback.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Feedback</span></dt>
                <dd>
                    <span>{{ feedback.feedback }}</span>
                </dd>
                <dt><span>Like</span></dt>
                <dd>
                    <span>{{ feedback.like }}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="feedback.customer">
                        <a [routerLink]="['/customer', feedback.customer?.id, 'view']">{{ feedback.customer?.name }}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="feedback.product">
                        <a [routerLink]="['/product', feedback.product?.id, 'view']">{{ feedback.product?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feedback', feedback.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
