/* ==========================================================================
Main page styles
========================================================================== */
.alert {
  color : black;
}

.alert-link {
  color : black;
}

.welcome {
  font-size: 24px;
  color: #444444;
}
